#page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main_content {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

#main_hand_tile {
  background-color: green;
  grid-column: 1 / span 2;
}

#winning_tile {
  background-color: lightcoral;
}

#dora_indicators {
  background-color: red;
  grid-column: 1 / span 2;
}

#text_info {
  background-color: purple;
  grid-column: 1 / span 2;
}

#han_fu_form {
 background-color: blue;
}

#score_form {
  background-color: aquamarine;
}

#revealed_melds {
  background-color: orchid;
  grid-area: 2 / 3 / 5 / 3;
}