#main_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

/* #main_content > * {
  border: 1px solid black;
} */

#main_hand_tiles {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main_hand_tiles .tile_group {
  margin: auto auto 0px auto;
  width: 90%;
}

#winning_tile {
  width: 100%;
}

#winning_tile .tile_group {
  width: 13.85%;
}

#dora_indicators {
  grid-column: 1 / span 2;
}

#dora_indicators .tile_group {
  width: 34.6%;
}

#text_info {
  grid-column: 1 / span 2;
}

#han_fu_form {
}

#score_form {
}

#revealed_melds {
  grid-area: 2 / 3 / 5 / 3;
}

#revealed_melds .tile_group.pon_or_chii {
  width: 46.15%;
}

#revealed_melds .tile_group.closed_kan {
  width: 55.4%;
}

#revealed_melds .tile_group.open_kan {
  width: 60.1%;
}
